# Firebase Configuration
# Скопируйте этот файл в новый файл .env и заполните правильными значениями для локальной разработки.
# Для продакшена добавьте эти же переменные в панели управления Vercel (Settings -> Environment Variables).

REACT_APP_FIREBASE_API_KEY=AIzaSyCQHQAL7LiMUQ8PkLeg-qePibn0M3FuqPA
REACT_APP_FIREBASE_AUTH_DOMAIN=match-watch-f9eec.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://match-watch-f9eec-default-rtdb.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=match-watch-f9eec
REACT_APP_FIREBASE_STORAGE_BUCKET=match-watch-f9eec.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=896259439383
REACT_APP_FIREBASE_APP_ID=1:896259439383:web:e242ba183ba638a40a1552
REACT_APP_FIREBASE_MEASUREMENT_ID=G-FS2CDSSF16
